.navbar {
    padding: 0 7%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_left > p{
    font-size: 25px;
}
.navbar_right {
    display: flex;
    margin: 10px 0;
}
.navbar_right > p {
    padding: 4px 15px;
}
.navbar_right > p:hover {
    cursor: pointer;
    border-radius: 7px;
    background-color: whitesmoke;
} 

